
h2{
    font-weight: 700;
    font-size: 60px;
    color: rgb(223, 163, 35);
    font-family: Verdana , Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px #7e5808;
}


table{
    
    border-collapse: collapse;
    border-color: rgb(214, 192, 192) ;
    border-style: hidden;
    box-shadow: 5px 5px #888888;
    width: 100%;
    
    
}
tr {
    height: 70px;
}
td{
    text-shadow: #888888;
}
.thead{
    background-color: rgb(23, 26, 25);
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
}
.tbody{
    background-color: rgb(62, 106, 250);
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    width: 100%;
}

   
td:hover {
    transform: scale(1.1);
    transition-delay: 0.05s;
}
    
/* CSS */
.button-1 {
    background-color: #864141;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: bottom;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button-1:hover,
.button-1:focus {
    background-color: #d6ba90;
    transform: scale(1.03);
    transition-delay: 0.05s;
}